@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	color: #111111

	

.hidden
	display: none

a
	outline: none !important


strong, b
	font-family: "RobotoBold", sans-serif
	font-weight: normal

		
		
h1, h2, h3, h4, h5, h6, .button
	font-family: "RobotoCondensedBold", sans-serif
	font-weight: normal
	text-transform:  uppercase



			 
.top-line
	background-color: $main-color
	text-align: center
	a
		color: #fff
	ul, li
		list-style-type: none
		padding: 0
		margin: 0
	.sf-menu
		ul
			background-color: $main-color
			>li
				border-bottom: lighten($main-color,5%) 1px solid
		margin: auto
		float: none
		display: inline-block
		font-family: "RobotoCondensedRegular", sans-serif
		font-size: em(15px)
		li
			background-color: transparent
			&:hover
				background-color: darken($main-color,3%)
				a
					color: $accent-color 
			a
				color: #fff
				border: none
				padding: 22px 28px 20px
				.fa
					font-size: 11px
					margin-left: 2px
		> li
			display: inline-block
	

		